.signIn{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5YMCy7CqSzkF6Qh9-SKQ-1xkvwYCxU2nxig&usqp=CAU");
    background-size: cover;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.loginForm{
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 2px;
}
.loginForm2{
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 1px;

}
#login-btn{
    background-color: #1773ea;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
   
    cursor: pointer;
    margin-top: 8px;
}